__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
/staticfiles/
/media/reports/raw/*
!/media/reports/raw/.gitkeep
/ml/data/raw/*
/ml/data/processed/*
!/ml/data/raw/.gitkeep
!/ml/data/processed/.gitkeep
/ml/models_store/*
!/ml/models_store/.gitkeep
.venv/
venv/
*.log
.DS_Store
.vscode
